<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>Awwards</h3>
    </div>

    <ul class="list-unstyled components">
        <p>Register / Log In</p>

        <li class="active">
            <a href="#">Home</a>
        </li>
        <li>
            <a href="#">Winners</a>
        </li>
        <li>
            <a href="#">Nominees 3</a>
        </li>
        <li>
            <a href="#">Collection 4</a>
        </li>
        <li>
            <a href="#">Accademy</a>
        </li>
        <li>
            <a href="#">Blog</a>
        </li>
        <li>
            <a href="#">eBook & Publication</a>
        </li>
        <li>
            <a href="#">About Us</a>
        </li>
    </ul>
</nav>
